div:hover{
    border: 5px solid black;

}

div:nth-of-type(1){
    background-color: red;
}
div:nth-of-type(2){
    background-color: orange;
}
div:nth-of-type(3){
    background-color: green;
    height: 100px;
}
div:nth-of-type(4){
    background-color: purple;
}
div:nth-of-type(5){
    background-color: aquamarine;
}

div:nth-of-type(1) > h3 {
    color: white;
}
div:nth-of-type(2) > h3 {
    color: navy;
}
div:nth-of-type(3){
    color: powderblue;
}
div:nth-of-type(4){
   color: pink;
}
div:nth-of-type(5) > h3 {
    color: darkred;
}

div:nth-of-type(odd) h3{
    font-style: italic;
}
